<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

    <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis orci vel nisi efficitur malesuada at ut elit. Nunc elementum ultricies cursus. Etiam ac mattis velit. Proin mollis sit amet odio ac vulputate. In non porta lacus, pulvinar tincidunt est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas non orci sed augue faucibus faucibus. Morbi velit velit, feugiat quis tempor euismod, tristique quis est. Aliquam erat volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sit amet lobortis elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis orci vel nisi efficitur malesuada at ut elit. Nunc elementum ultricies cursus. Etiam ac mattis velit. Proin mollis sit amet odio ac vulputate. In non porta lacus, pulvinar tincidunt est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas non orci sed augue faucibus faucibus. Morbi velit velit, feugiat quis tempor euismod, tristique quis est. Aliquam erat volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sit amet lobortis elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis orci vel nisi efficitur malesuada at ut elit. Nunc elementum ultricies cursus. Etiam ac mattis velit. Proin mollis sit amet odio ac vulputate. In non porta lacus, pulvinar tincidunt est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas non orci sed augue faucibus faucibus. Morbi velit velit, feugiat quis tempor euismod, tristique quis est. Aliquam erat volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sit amet lobortis elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis orci vel nisi efficitur malesuada at ut elit. Nunc elementum ultricies cursus. Etiam ac mattis velit. Proin mollis sit amet odio ac vulputate. In non porta lacus, pulvinar tincidunt est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas non orci sed augue faucibus faucibus. Morbi velit velit, feugiat quis tempor euismod, tristique quis est. Aliquam erat volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sit amet lobortis elit.</p>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>